<% errors = model.errors if model.present? %>

<% if errors.present? && errors.any? %>
  <div class="p-2 alert alert-danger alert-dismissible fade show" role="alert" id="error_explanation">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <div class="fs-5">
      <%= t ".label" %>
      <%= t("words.errors", count: errors.count) %>
    </div>
    <ul class="mb-0">
      <% errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
