<a href="<%= photo.photo.url %>">
  <% content = "#{t(".author")}: #{render partial: "users/user", object: photo.user}" %>
  <img src="<%= photo.photo.thumb.url %>" content="<%= content %>" class="gallery-image"></a>
