.buffer-top {
    margin-top: 20px;
}

.buffer-bottom {
    margin-bottom: 20px;
}

.buffer-both {
    margin-top: 20px;
    margin-bottom: 20px;
}

.avatar-parent {
    position: relative;
    height: 128px;
    width: 128px;
    display: inline-block;
}

/* Avatars for users & events */
.img-icon, .img-icon-small {
    height: 20px !important;
    width: auto !important;
    border-radius: 50%;
    display: inline !important;
}

.img-avatar {
    position: relative;
    height: 128px;
    width: auto;
    border-radius: .375em;
}

.avatar-edit-btn {
    position: absolute;
    left: 0;
    width: 128px;
    height: 128px;
    border: 2px solid #ccc !important;
    opacity: 0;
}

.avatar-edit-btn span {
    position: absolute;
    top: 0;
    right: 3px;
    color: #333;
    text-shadow: -1px -1px 0 #ccc, 1px -1px 0 #ccc, -1px 1px 0 #ccc, 1px 1px 0 #ccc;
}

.avatar-edit-btn:hover {
    opacity: 1;
    transition: all ease .2s;
}

.event-info {
    position: relative;
    color: white;
    overflow: hidden;
    margin-bottom: 20px;
}

.event-background {
    position: absolute;
    width: 100%;
    z-index: -1;

    top: 0; bottom: 0;
    left: 0; right: 0;

    background-size: cover;
    background-position: center;

    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

.event-description * {
    color: white;
}

.event-description a {
    color: #d0d0ff;
    text-decoration: none;
}

.event-description small {
    color: #e0e0e0;
    font-size: .5em;
}

.event-description .address {
    font-size: .9em;
}

.event-info-inner {
    background:rgba(0, 0, 0, 0.4);
}

.event-map {
    margin: 20px 0;
    width: 100%;
    height: 400px;
}

.event-photo {
    display: inline-block;
    border: 1px solid #ced4da;
    border-radius: .375em;
    overflow: hidden;
    text-align: center;
}

.event-photos {
    display: flex;
}

.thumbnail {
    position: relative;
    background: transparent;
    padding: 0;
    overflow: hidden;
    border-radius: 5px;
}

.thumbnail h3 {
    white-space: nowrap;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: .3em;
}

.thumbnail-inner {
    padding: 20px 4px 4px;
}

#event_datetime_1i {
    width: 20%;
}

#event_datetime_2i {
    width: 27%;
}

#event_datetime_3i {
    width: 13%;
}

#event_datetime_4i {
    width: 13%;
}

#event_datetime_5i {
    width: 13%;
}

.group-file {
    width: 50% !important;
}

.group-btn {
    width: 10% !important;
}

.btn-small {
    padding: 0 !important;
    width: 1.5em !important;
    height: 1.5em !important;
    font-size: 0.8em !important;
    border: 0px !important;
}

.text-left {
    text-align: left;
}

.map-container {
    height: 220px;
    border-radius: .375em;
    border: 1px solid #ced4da;
    overflow: hidden;
}

.map-container .map {
    height: 100%;
}

.gallery-image {
    border-radius: .375em;
    border: 1px solid #ced4da;
    overflow: hidden;
}

.btn-medium {
    padding: 0 !important;
    width: 1.5em !important;
    height: 1.5em !important;
    font-size: 1em !important;
    border: 0px !important;
}

.inline-form {
    display: inline-block;;
}
