.buffer-top {
    margin-top: 20px;
}

.buffer-bottom {
    margin-bottom: 20px;
}

.buffer-both {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Avatars for users & events */
.img-icon, .img-icon-small {
    height: 50px;
    width: auto;
    border-radius: 50%;
}

.event-info {
    position: relative;
    color: white;
    overflow: hidden;
    margin-bottom: 20px;
}

.event-background {
    position: absolute;
    width: 100%;
    z-index: -1;

    top: 0; bottom: 0;
    left: 0; right: 0;

    background-size: cover;
    background-position: center;

    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

.event-description * {
    color: white;
}

.event-description a {
    color: #d0d0ff;
    text-decoration: none;
}

.event-description small {
    color: #e0e0e0;
    font-size: .5em;
}

.event-description .address {
    font-size: .9em;
}

.event-info-inner {
    background:rgba(0, 0, 0, 0.4);
}

.event-map {
    margin: 20px 0;
    width: 100%;
    height: 400px;
}

.thumbnail {
    position: relative;
    background: transparent;
    padding: 0;
    overflow: hidden;
    border-radius: 5px;
}

.thumbnail h3 {
    white-space: nowrap;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: .3em;
}

.thumbnail-inner {
    padding: 20px 4px 4px;
}

#event_datetime_1i {
    width: 20%;
}

#event_datetime_2i {
    width: 27%;
}

#event_datetime_3i {
    width: 13%;
}

#event_datetime_4i {
    width: 13%;
}

#event_datetime_5i {
    width: 13%;
}
